* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-color: #5F37EF;
$footer-color: #7854F7;
$header-color: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
$body-color: #E5E5E5;

h1, h3, h4, h5, h6, p {
  font-family: "Roboto Light", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 95px;
  margin-bottom: 0;
}

h3 {
  font-size: 55px;
  line-height: 70px;
}

h4 {
  font-size: 36px;
  line-height: 70px;
}

h5 {
  font-size: 20px;
  line-height: 52px;
}

p, h6 {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

h6 {
  font-size: 12px;
}


body {
  background: $body-color;

}

.pillow-img {
  width: 100%;
  z-index: -5;
  position: absolute;
}

.img-gb {
  width: 430px;
  box-shadow: -25px 20px 44px rgba(84, 48, 209, 0.4);
  border-radius: 20px;
}

.btn-green {
  margin-top: 39px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 26px;
  background: #70C217;
  border-radius: 60px;
}

.dots {
  position: absolute;
  width: 250px;
  height: 400px;
  background-image: radial-gradient(#70c217 5px, transparent 0);
  background-size: 51px 51px;
  background-position: 1px 1px;

  &.red-dot {
    background-image: radial-gradient(red 5px, transparent 0);
  }

  &.blue {
    background-image: radial-gradient(#29aaf3 5px, transparent 0);

  }

  &.purple {
    background-image: radial-gradient(#7854f7 5px, transparent 0);

  }
}

.to-left {
  transform: scale(0.7);
  opacity: 0.3;

  &:hover {
    opacity: 1;
    transform: scale(1);
  }

  transition: 0.5s;
  width: 75px;
  height: 30px;
}

@media (min-width: 1240px) {
  .container {
    max-width: 1480px;
  }
}

.h100vh {
  height: 58vw;
}

.circle {
  &.w65 {
    width: 65px;
    height: 65px;
  }

  z-index: -3;
  border-radius: 50%;
  position: absolute;
  width: 400px;
  height: 400px;
  border: 5px solid #FFBA49;
}

.test {
  padding-top: 138px;
  margin-top: 100px;
  height: 1200px;
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
}

.carusel {
  margin-top: 100px;
  perspective: 500px;

  .cards {
    transform: translateZ(0);
    padding: 106px 82px 87px;
    font-style: normal;
    font-weight: normal;
    font-size: 26.7px;
    height: 390px;
    position: absolute;
    transition: 0.5s;
    line-height: 39px;
    text-align: center;
    color: #94A2B3;
    background: #fff;
    box-shadow: 0 18px 52.8537px rgba(0, 0, 0, 0.09);
    border-radius: 20px;

    &:before {
      display: flex;
      width: 80%;
      z-index: -1;
      justify-content: center;
      top: 200px;
      font-family: serif;
      content: '”';
      color: #edf0fd;
      text-align: center;
      position: absolute;
      font-size: 600px;
    }
  }

  .card0 {
    animation: an 1s 1;
    animation-fill-mode: forwards;

  }
}

@keyframes an {
  from {
    transform: translateZ(50px) translateY(0px);
    z-index: 5;
  }
  50% {
    transform: translateZ(0px) translateX(800px);
    z-index: 5;
  }
  51% {

    z-index: 0;
  }
  to {
    transform: translateZ(0px) translateY(0px);
    z-index: 0;
    //transform: translateX(50px);
  }
}

.header {
  height: 1188px;
  background: $header-color;

  .header-bg-img {
    right: 0;
    top: 0;
    z-index: 1;
  }

  .header-container {
    .header-text {
      z-index: 25;
      margin-top: 186px;

      p {
        margin: 31px 0;
        color: #94A2B3;
      }

      div {
        color: #94A2B3;

        button {
          padding: 26px 73px;
          background: #7854F7;
          border-radius: 60px;
          color: #ffffff;

          margin-right: 12px;
        }

        a {
          text-decoration: none;
          margin-left: 12px;
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          color: #299ef3;
        }
      }
    }

    .header-product {
      border-radius: 30px;
      z-index: 25;
      top: 296px;
      right: 0;
      width: 772px;
      position: absolute;
      display: flex;

      .man-shoe {
        position: relative;
        width: 453px;
        background-image: url("/images/man-shoe.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 451px;

        .smiling-girls {
          margin-left: -20px;
          border-radius: 20px;
          margin-top: -40px;
        }

        .sale {
          position: absolute;
          top: 6px;
          right: -19px;
          width: 147px;
          height: 54px;
          font-style: normal;
          font-weight: bold;
          font-size: 19.3345px;
          line-height: 32px;
          color: #ffffff;
          letter-spacing: 0.4em;
          background: #70c217;
          border-radius: 38px;
        }

        .backet {
          height: 75px;
          bottom: 4px;
          left: 4px;
          border-radius: 50%;
          width: 75px;
          background-color: #FFBA49;
        }

        .stripe {
          background: #ffffff;
          position: absolute;
          bottom: -168px;
          left: 86px;
          border-radius: 24px;
          width: 406px;
          height: 248px;
          padding: 0 45px;

          div {
            border-bottom: 1px solid #E5EFFF;

            h6 {
              color: #94A2B3;
            }

            button {
              display: flex;
              align-items: center;
              width: 47px;
              height: 23px;
              background: transparent;
              padding: 3px;
              transition: 0.4s ease-in-out;
              position: relative;
              border-radius: 15px;

              div {
                padding: 0 !important;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                position: absolute;
              }
            }
          }

          div:first-child {
            padding: 31px 0 24px 0;
          }

          div:nth-child(2) {
            padding: 11px 0;
          }

          div:nth-child(3) {
            border-bottom: none;
            padding: 21px 0 32px 0;
            padding-left: 36px;
          }
        }
      }

      .order-product {
        padding: 45px 0 36px 45px;
        width: 270px;

        h2 {
          font-size: 29.9504px;
          line-height: 38px;
          margin: 23px 0 38px 0;
        }

        .counters {
          button {
            background-color: #f6f6f6;
            border-radius: 5px;
            font-size: 9px;
            line-height: 11px;
            margin-right: 11px;
          }
        }

        .add-count {
          margin-top: 24px;

          .price {
            h2 {
              font-size: 24px;
              line-height: 28px;
              margin: 0 !important;
              color: #5F37EF;
            }

            del {
              font-size: 13px;
              line-height: 16px;
              margin-left: 26px;
            }

            margin-right: 27px;
          }

          .counter {
            .plus-minus {
              width: 125px;
              height: 41px;
              background: #F6F6F6;
              border-radius: 5px;

              button {
                margin-right: 0
              }
            }
          }
        }

        .text {
          display: flex;
          align-items: center;

          p {
            font-weight: 400;
          }
        ;

          h6 {
            margin-left: 9px;
          }
        }

        .add-to-card {
          color: #ffffff;
          margin-top: 14px;
          background: $main-color;
        }
      }
    }
  }

  .footer-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

.my-section {
  padding: 61px 0;

  .info-box {
    width: 430px;

    .title {
      margin: 40px 0 5px 0;
    }

    .img {
      img {
        width: 100%;
      }
    }

    .text {
      margin-bottom: 25px;
    }

    .document {
      top: 58px;
      left: -106px;
    }

    .pay {
      top: 5px;
      left: -74px;
    }

    .mankey {
      top: 19px;
      right: 36px;
    }

    .jetbak {
      top: 134px;
      right: 96px;
    }

    .square, .facebook {
      top: -40px;
      left: 48px;
    }

    .google-adds {
      top: 249px;
      left: 153px;
    }

    .facebook {
      top: 112px;
    }

    .lastboximg1 {
      top: -51px;
      left: 32px;
    }

    .lastboximg2 {
      top: 115px;
      left: 325px;
    }

    .lastboximg3 {
      right: 66px;
      top: -133px;
    }

    .link {
      a {
        text-decoration: none;
      }
    }
  }

  .info-box:nth-child(2) {
    margin: 135px 0 0 71px;
  }

  .info-box:nth-child(3) {
    margin: 211px 0 0 71px;
  }
}

.blue-section {
  margin-top: 124px;
}

.test {

  .t1, .t2, .t3, .t4, .t5, .t6 {
    filter: drop-shadow(0px 14px 24px rgba(67, 48, 48, 0.14));
  }

  .t1 {
    top: 160px;
    left: -150px;
  }

  .t2 {
    top: 502px;
    left: 0;
  }

  .t3 {
    top: -50px;
    left: 150px;
  }

  .t4 {
    top: -70px;
    right: 200px;
  }

  .t5 {
    right: 0;
    top: 200px;
  }

  .t6 {
    right: 0;
    top: 566px;
  }
}

.my-section-2 {
  .persons {
    img {
      width: 100%;
    }

    background-image: url("/images/personsbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px 180px;
  }

  .title {
    p {
      margin-top: 31px;
      color: #94A2B3;
    }
  }

  .text-vs-button {
    z-index: 15 !important;
    padding: 78px 0;
    color: #ffffff;
    background-color: $main-color;
  }

  .get-started-btn {
    border-radius: 60px;
    border: 2px solid #ffffff;
    margin-left: 67px;
    padding: 26px 46px;
    color: white;
  }
}

.footer {

  background-color: $footer-color;
  padding: 45px 0 0 0;

  .support {
    margin-bottom: 135px;

    .img-text {
      margin-left: 118px;

      img {
        margin-right: 15px;
      }

      h5 {
        font-weight: 400;
        color: #ffffff;
      }
    }

    .img-text:first-child {
      margin-left: 0;
    }
  }

  .logo {
    hr {
      color: #ffffff;
      margin: 56px 0 34px 0;
    }
  }

  .footer-links {
    p {
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 24px;
    }

    ul li a {
      color: #ffffff;
      text-decoration: none;

    }

    div {
      margin-right: 138px;

      ul {
        padding: 0;

      }
    }

    div:last-child {
      margin-right: 0;
    }

    li {
      list-style: none;
    }
  }

  .laster {
    a {
      margin-right: 54px;
    }
  }
}

.header-nav {

  .navbar {
    padding: 25px 75px;
    z-index: 25;

    .nav-link, .get-started {
      font-size: 18px;
      line-height: 21px;
      font-weight: bolder;
    }

    .get-started {
      font-weight: 400;
      color: white;
      background: $main-color;
    }

    .search {

    }

    .first {
      margin-right: 38px;
    }

    .navbar-brand {
      margin-right: 114px;
    }
  }
}


@media (min-width: 1440px) {
  .container {
    max-width: 1480px;
  }
}
